<h2>Add New User</h2>
<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm" class="repo-form">
  <input class="repo-name-input" name="username" [(ngModel)]="user.username" required placeholder="Username *" />
  <div class="helper-text">Choose a unique and memorable username.</div>

  <input class="desc-input" name="firstName" [(ngModel)]="user.firstName" placeholder="First Name (optional)" />

  <input class="desc-input" name="lastName" [(ngModel)]="user.lastName" placeholder="Last Name (optional)" />

  <input class="desc-input" name="password" [(ngModel)]="user.password" placeholder="password *" required />

  <input class="desc-input" name="email" [(ngModel)]="user.email" type="email" required placeholder="Email *" />
  <div class="helper-text">A valid email address is required.</div>

  <div class="gitignore-section">
    <label for="role_select"><b>User Role</b></label>
    <div class="select-wrapper">
      <select class="select_box" id="role_select" [(ngModel)]="user.role" name="role" >
        <option value="" disabled hidden>Select Role</option>
        <option *ngFor="let role of rolesForAdd" [value]="role">
          {{ role }}
        </option>
      </select>
    </div>

    <div class="init-helper">Assign a role to the new user.</div>
  </div>



  <div class="button-wrapper">
    <button type="submit" [disabled]="!userForm.form.valid" class="create-btn">Add User</button>
  </div>
</form>